build/

# Android
.gradle
local.properties

# node.js
node_modules/
npm-debug.log
yarn-error.log

# fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# CocoaPods
/ios/Pods/
