<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639017364983-32j4vg9h76181stiaacfu40jarvfe4u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639017364983-32j4vg9h76181stiaacfu40jarvfe4u7</string>
	<key>API_KEY</key>
	<string>AIzaSyBa1bjI8uPlowQCJL-jwwYB3e89Ff5UFuI</string>
	<key>GCM_SENDER_ID</key>
	<string>639017364983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>msu.mariapp20180810</string>
	<key>PROJECT_ID</key>
	<string>msuapp-ba4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>msuapp-ba4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639017364983:ios:73029e829315a1f44552f2</string>
	<key>DATABASE_URL</key>
	<string>https://msuapp-ba4f5.firebaseio.com</string>
</dict>
</plist>